.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
  width: 75vw;
  
}

.Fit {
    max-height: 500px;
    overflow: scroll;
} 

.Image {
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
  }

.Post figure,
h5 {
  margin: 0 0;
}

.PostBar {
    background-color: #fcf8ed;
    margin-top: 15px;
}

.Heart {
  color: #ff9254;
}

.Heart:hover {
  color: #ffad01;
}

.HeartOutline:hover {
  color: #ff9254;
}

.CustomMedia {
  background-color: #fcf8ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
